<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/about">About me</a></li>
  <li><a href="https://github.com/Frostman">Github</a></li>
  <li><a href="https://twitter.com/lukjanovsv">Twitter</a></li>
  <li><a href="mailto:blog@slukjanov.name">Mail</a></li>
  <li><a href="/contact-me/index.html">Contact me</a></li>
  <li><a href="/java-courses-2013/index.html">Mirantis Courses (RU)</a></li>
</ul>
